.editors {
    --EditorGap: 0.2rem;
    display: grid;
    width: var(--BaseWidth);
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 1rem;
    column-gap: var(--EditorGap);
    margin: 0 auto 1rem auto;
}
