.header {
    --InputHeight: 2rem;
    --Gap: 0.6rem;
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: calc(var(--InputHeight) + var(--Gap));
    column-gap: var(--Gap);
    margin-left: calc(50% - var(--BaseWidth) / 2);
}

.form {
    align-self: start;
    justify-self: end;
    display: grid;
    height: var(--InputHeight);
    grid-template-columns: 1fr minmax(min-content, max-content);
    align-items: stretch;
    &>input {
        padding-left: 0.5rem;
        border: 1px solid var(--ForegroundColor);
        border-right-width: 0;
        border-radius: var(--BorderRadius) 0 0 var(--BorderRadius);
        line-height: var(--InputHeight);
    }
    &>button {
        padding: 0 0.5rem;
        border: 1px solid var(--ForegroundColor);
        border-radius: 0 var(--BorderRadius) var(--BorderRadius) 0;
    }
}

.range {
    --Margin: 0.4rem;
    align-self: stretch;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--ForegroundColor);
    border-bottom-width: 0;
    border-radius: var(--BorderRadius) var(--BorderRadius) 0 0;
    text-align: center;
    font-size: 80%;
    &>:first-child {
        align-self: end;
        justify-self: start;
        content: attr(data-start) '...';
        margin-left: var(--Margin);
    }
    &>:last-child {
        align-self: start;
        justify-self: end;
        content: '...' attr(data-end);
        margin-right: var(--Margin);
    }
}

.container {
    width: var(--BaseWidth);
    height: 50vh;
    margin: 0 auto 1rem auto;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: calc(var(--RowWidth) + 1px);
        top: 0;
        bottom: 0;
        pointer-events: none;
        border: 1px solid var(--ForegroundColor);
    }
    &.loading {
        &::after {
            display: none;
        }
    }
}

.grid {
    --Selected: rgba(255, 0, 0, 0.25);
    &>div {
        border: 1px solid var(--ForegroundColor);
        border-width: 0 1px 1px 0;
        box-sizing: content-box;
        background-image:
            linear-gradient(90deg, var(--ForegroundColor), var(--ForegroundColor) 1px, transparent 1px, transparent),
            linear-gradient(180deg, var(--ForegroundColor), var(--ForegroundColor) 1px, transparent 1px, transparent),
            linear-gradient(180deg, var(--Gray), var(--Gray) var(--HeaderHeight), transparent var(--HeaderHeight), transparent);
        background-size:
            var(--CellWidth) var(--CellHeight),
            100% var(--CellHeight),
            100% var(--CellHeight);
        background-repeat:
            repeat,
            repeat-y,
            repeat-y;
        background-position:
            left top,
            left top,
            left 1px;
    }
}

.cell {
    cursor: pointer;
    &.editing {
        background-color: var(--Selected);
        cursor: default;
    }
}

.unprintable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    background-image: linear-gradient(0deg, var(--BackgroundColor), var(--BackgroundColor));
    background-size: calc(100% - 1px) calc(100% - 1px);
    background-position: right bottom;
    &::before {
        content: attr(title);
        transform: scale(0.7);
        white-space: nowrap;
        opacity: 0.7;
    }
}
