.container {
    display: block;
    width: var(--BaseWidth);
    margin: 0 auto;
    padding: 1rem;
    white-space: pre-wrap;
    font-family: monospace;
    word-break: break-all;
    border: 1px solid var(--ForegroundColor);
    border-radius: var(--BorderRadius);
    opacity: 0.7;
}
