.container {
    --CharacterSize: 2.4rem;
    --MainLineColor: var(--ForegroundColor);
    display: grid;
    grid-template-columns: var(--CharacterSize) 1fr;
    column-gap: var(--EditorGap);
    grid-template-rows: 1rem 1.4rem 1rem 12rem;
    grid-template-areas:
        'message   message'
        'character name'
        'character hex'
        'editor    editor';
    &.focused {
        --MainLineColor: rgb(197, 32, 32);
        &>.character:not(.opened) {
            animation: 0.3s 1s AppealClickabiliy;
            &:hover {
                animation: none;
            }
        }
    }
}

.message {
    grid-area: message;
    align-self: end;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    line-height: 1;
}

.character {
    grid-area: character;
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--ForegroundColor);
    font-size: 1.2rem;
    font-weight: bold;
    transition: border-radius 0s;
    transition-delay: 0.2s;
    border-radius: var(--BorderRadius);
    box-shadow: 0 0 0 1px var(--ForegroundColor) inset;
    &>svg {
        fill: none;
        stroke: var(--ForegroundColor);
        stroke-width: 1;
    }
    &>div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--CharacterSize);
        color: var(--BackgroundColor);
        background-color: var(--ForegroundColor);
        border-radius: var(--BorderRadius);
        transition: height 0.2s, background-color 0s;
        overflow: hidden;
        &::before {
            content: attr(data-character);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: var(--CharacterSize);
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }
    &.opened {
        border-radius: var(--BorderRadius) var(--BorderRadius) 0 0;
        transition-delay: 0s, 0s;
        &>div {
            height: 1.5px;
            border: 1px solid var(--ForegroundColor);
            border-width: 0 1px;
            border-radius: 0;
            background-color: var(--BackgroundColor);
            transition-delay: 0s, 0.2s;
        }
    }
}

.name {
    grid-area: name;
    align-self: start;
    justify-self: start;
    font-size: 0.6rem;
    line-height: 1;
    opacity: 0.7;
}

.hex {
    grid-area: hex;
    align-self: end;
    justify-self: start;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 -0.1rem 0.2rem var(--BackgroundColor);
}

.editor {
    grid-area: editor;
    margin-top: var(--EditorGap);
    background-image:
        linear-gradient(270deg, var(--MainLineColor), var(--MainLineColor) 1px, transparent 1px);
    background-size:
        var(--CharacterSize) 100%;
    background-position:
        left bottom;
    transition: --MainLineColor 0.1s;
}

.menu {
    --MenuWidth: 12rem;
    grid-area: editor;
    width: var(--CharacterSize);
    height: 0;
    background-color: var(--ForegroundColor);
    transition: width 0.2s, height 0.2s;
    overflow: hidden;
    pointer-events: none;
    border-radius: 0 var(--BorderRadius) var(--BorderRadius) var(--BorderRadius);
    color: var(--BackgroundColor);
    font-size: 80%;
    &.opened {
        width: var(--MenuWidth);
        height: 100%;
        pointer-events: auto;
        background-size: 100% 100%;
    }
    &>* {
        display: flex;
        align-items: center;
        justify-content: start;
        width: var(--MenuWidth);
        height: 2rem;
        padding: 0 0.5rem;
        text-decoration: none;
        &:hover {
            background-color: var(--Gray);
        }
        &:active {
            background-color: unset;
        }
    }
}

@keyframes AppealClickabiliy {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
