.container {
    --Size: 1rem;
    display: flex;
    align-items: center;
    &:active {
        &>.check {
            transform: scale(0.8);
        }
    }
}

.check {
    width: var(--Size);
    height: var(--Size);
    fill: none;
    stroke: currentColor;
    margin-right: var(--ButtonGap);
    transition: transform 0.1s;
}
