.container {
    --Size: 1em;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:active {
        &>.check {
            transform: scale(0.8);
        }
    }
}

.check {
    flex: 0 0 var(--Size);
    height: var(--Size);
    fill: none;
    stroke: currentColor;
    margin-right: 0.2rem;
    transition: transform 0.1s;
}
