:root {
    --BaseWidth: 92vw;
    --BorderRadius: 0.1rem;
    --ButtonGap: 0.2rem;
}

main {
    padding: 2rem 0;
}

main>:first-child {
    margin-top: 0;
}

h1, h2 {
    width: var(--BaseWidth);
}

button {
    cursor: pointer;
}

input {
    min-width: 0;
}
