:root {
    --BaseWidth: 92vw;
    --BorderRadius: 2px;
    --ButtonGap: 0.2rem;
    --Gray: rgba(127, 127, 127, 0.4);
    --Succeed: rgb(0, 104, 0);
    &[data-theme=Dark] {
        --Succeed: rgb(64, 255, 64);
    }
}

main {
    padding: 2rem 0;
}

main>:first-child {
    margin-top: 0;
}

h1, h2 {
    width: var(--BaseWidth);
}
